
<p>Hey <%= @user.name.capitalize %>,</p>

<p>Your reservation for <%= @monster.name %> has been accepted!</p>


<img src="https://gifimage.net/wp-content/uploads/2017/10/mike-wazowski-gif-14.gif">

<p>Please find all of your confirmed booking below in your reservations dashboard.</p>
<a href="https://lochness.herokuapp.com/reservations">Your Reservations</a>
<br>
<p>Cheers,</p>
<p>The Loch Ness Team</p>

<img src="https://res.cloudinary.com/syrashid/image/upload/c_scale,w_150/v1571706071/monsterlogo_c8zih5.png" alt="Loch Ness Logo">
