
<p>Hey <%= @user.name.capitalize %>,</p>

<p>Thank you for your interest in <%= @monster.name %>!</p>

<p>  We've gone ahead and sent over your request to the owner and you should be receiving a notification within 24 hours!</p>

<p>Please find all of your bookings below in your reservations dashboard.</p>
<a href="http://localhost:3000/reservations">Your Reservations</a>
<br>
<p>Cheers,</p>
<p>The Loch Ness Team</p>

<img src="https://res.cloudinary.com/syrashid/image/upload/c_scale,w_150/v1571706071/monsterlogo_c8zih5.png" alt="Loch Ness Logo">

