<h1>User#request</h1>

<p>Hi <%= @user.email %>,</p>

<p>Thank you for your interest in monster_placeholder!  We've gone ahead and sent over your request to the owner and you should be receiving a notification within 24 hours!</p>

<p>Please find all of your bookings below on your dashboard</p>
<a href="http://localhost:3000/dashboard">Your Dashboard</a>

<p>Cheers,</p>
<p>The Loch Ness Team</p>
