<img src="https://res.cloudinary.com/syrashid/image/upload/c_scale,w_50/v1571706274/Primary_Log0_xutvsm.png" alt="Primary Logo">

<p>Hello <%= @owner.name.capitalize %>,</p>

<p>A reservation has been made for <%= @monster.name %>!</p>

<p>Please let the requester know within 24 hours if you will be accepting or denying the reservation!</p>

<p>Please find all of your monster bookings below in your dashboard.</p>
<a href="http://localhost:3000/dashboard">Your Dashboard</a>
<br>
<p>Cheers,</p>
<p>The Loch Ness Team</p>

<img src="https://res.cloudinary.com/syrashid/image/upload/c_scale,w_150/v1571706071/monsterlogo_c8zih5.png" alt="Loch Ness Logo">
