<p>Hey <%= @user.name.capitalize %>,</p>

<p>Thank you for joining the Loch Ness family.</p>

<p>We're extremely excited for you to make your first monster friend!  Just head back to the website and make your first reservation.</p>

<br>
<p>Cheers,</p>
<p>The Loch Ness Team</p>

<img src="https://res.cloudinary.com/syrashid/image/upload/c_scale,w_150/v1571706071/monsterlogo_c8zih5.png" alt="Loch Ness Logo">
