.index-page {
  padding-top: 14vh;

  .card-body {
    img {
      max-height: 25vh;
      max-width: 40vh;
      object-fit: contain;
    }
  }

  .res-info {
    display: flex;
  }
}

.map-box {
  height: 86vh;
  padding: 0 !important;
}

@media (max-width: 576px) {
  .map-box {
    display: none;
  }
  .res-info {
    display: block;
  }
}


@media (max-width: 576px) {
  .card-body.d-flex.justify-content-between {
    display: block !important;
  }

  .index-page {
    h5 {
      font-size: 1rem;
    }
    .w-50 {
      width: 100% !important;

      img {
        max-width: 100% !important;
      }
    }
  }
}

