.index-page {
  padding-top: 14vh;

  .card-body {
    img {
      max-height: 25vh;
      max-width: 40vh;
      object-fit: cover;
    }
  }
}

.map-box {
  height: 86vh;
  padding: 0 !important;
}

@media (max-width: 576px) {
  .map-box {
    display:none;
  }
}

