<div class="index-page">
  <div class="d-flex cards-and-map">
    <div class="cards col-12 col-sm-6 col-lg-7 row mr-1">
      <%= render 'shared/filter_bar' %>
      <div class="cards-container row">
        <%= render 'shared/monsters_partial', monsters: @monsters %>
      </div>
    </div>
    <div class="map-box col-12 col-sm-6 col-lg-5"
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
