<%= render 'shared/navbar' %>

<div class="d-flex row index-page">
  <div class="cards-container col-12 col-sm-6 col-lg-7">
    <div class="row">
      <%= render 'shared/monsters_partial', monsters: @monsters %>
    </div>
  </div>
<div class="map-box col-12 col-sm-6 col-lg-5"
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
