<div class="container col-12 col-md-10 col-lg-8 convo-box">
  <h2>Your conversations</h2>
  <div class="col-12 mt-3">
    <% if @conversations.count > 0 %>
    <div class="cards-container">
      <%= render 'shared/conversations_partial', conversations: @conversations%>
    </div>
    <% else %>
      <div class="card col">
        <div class="card-body">
          <p> No conversations yet!</p>
        </div>
      </div>
    <% end %>
  </div>

</div>
