<div class="receiver-message col-7 mb-2" data-aos="fade-up" data-aos-duration="1000">
  <div class="d-flex">
  <%= image_tag message.user.photo.url, height:40, width: 40, crop: :fill, class: "avatar mr-3" %>

  <p><%= message.text %></p>
  </div>

</div>
