<%= form_tag monsters_path, method: :get, class: "d-flex mb-5 flex-column" do %>
<%= text_field_tag :search_date,
  params[:search_date],
  id: "datesearch",
  placeholder: "Pick your rental dates",
  class: "flex-grow-1 datebar-input mb-2" %>
 <div class="d-flex">
  <%= text_field_tag :query,
    params[:query],
    class: "flex-grow-1 searchbar-input",
    placeholder: "Search your location in Melbourne. . . or leave blank!",
    name: 'location'%>
  <%= button_tag(type: "submit", class: "searchbar-btn") do %>
  <i class="fas fa-search"></i>
</div>
<% end %>
<% end %>
