<div class="hero">
  <div class="left-hero">
    <h1>At Loch Ness we believe in second chances</h1>
    <h1>...even for monsters</h1>
  </div>
  <div class="right-hero">
    <h1>Make a friend</h1>
    <h1>Find a monster...</h1>
    <h1>SEARCHBAR</h1>
  </div>
</div>
