<div class="hero d-flex row">
  <div class="left-hero d-flex col-12 col-sm-7">
    <div class="title">
      <h1>Rent a monster... Make a friend</h1>
      <%= render 'shared/searchbar' %>
      <img src="https://res.cloudinary.com/syrashid/image/upload/v1572249801/ghosts_b9umzi.png" alt="ghosts" class="mt-5"
      data-aos="fade" data-aos-duration="3000">
    </div>
  </div>
  <div class="right-hero d-flex col-12 col-sm-5">
    <div class="title">
      <h1>At Loch Ness we believe in second chances</h1>
      <h1  class="mb-3">...even for monsters</h1>
      <img src="https://res.cloudinary.com/syrashid/image/upload/v1572249801/ghosts_b9umzi.png" alt="ghosts" class="mt-5"
      data-aos="fade" data-aos-duration="3000">
    </div>
  </div>
</div>
