.stretched-link {
  color: var(--green);
  &:hover {
    text-decoration: none;
    color: var(--green);
  }
}

.card {
  &:hover{
    background-color: var(--light_grey);
  }
}

.cards-container {
  height: 86vh;
  overflow: scroll;
}

.show-page, .index-page {
  .card-header {
    background: var(--green);
    color: var(--white);
  }
}
