.stretched-link {
  color: var(--green);
  &:hover {
    text-decoration: none;
    color: var(--green);
  }
}

.card {

  &:hover{
    background-color: var(--light_grey);
  }

  img {
    height: 10rem;
    margin-top: 2vh;
    object-fit: contain;
  }

}

.cards-container {
  height: 76vh;
  overflow: scroll;
  padding-left: 4vw;
  padding-right: 2vw;
}

.show-page, .index-page {
  .card-header {
    background: var(--green);
    color: var(--white);
    h5 {
      color: var(--white);
    }
  }
}

.conversation-card {
  word-wrap: break-word;
  background-color: white;
  border: 1px solid rgba(black, .125);
  border-radius: .25rem;
  padding: 4px;
  position: relative;
  &:hover{
    background-color: var(--light_grey);
  }
}

@media (max-width: 576px) {
  .cards-and-map {
    margin: auto;
    width: 100%;
  }

  .cards {
    margin: 0;
    padding-left: 0;
  }
}

img.card-img-top  {
  max-height: 26vh;
  object-position: top;
  object-fit: contain;
  height: 100%;
}

@media (max-width: 768px) {
  img.card-img-top  {
    max-height: 30vh;
  }
}

@media (max-width: 480px) {
  img.card-img-top  {
    max-height: 35vh;
  }
}
