.flatpickr-months .flatpickr-month, .flatpickr-monthDropdown-months, .flatpickr-weekdays {
  background: var(--green) !important;
}

span.flatpickr-weekday {
  color: var(--white) !important;
  background: var(--green) !important;
}

.flatpickr-input {
  background: var(--white) !important;
  text-align: center;
}

