.hero {
  height: 100vh;
  display: flex;

  .left-hero, .right-hero {
    display: flex;
    align-items: center;
  }

  .left-hero {
    width: 60%;
    background-color: var(--green);
    padding: 0 6% 0 10%;

    h1 {
      color: var(--white);
    }
  }

  .right-hero {
    width: 40%;
    padding: 15% 2% 0% 4%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
