.hero {
  height: 100vh;

  .left-hero, .right-hero {
    align-items: center;
  }
  .left-hero {
    background-color: var(--green);
    padding: 0 6% 0 10%;

    h1 {
      color: var(--white);
    }
    img {
      display: none;
    }
  }
  .right-hero {
    padding: 15% 2% 0% 4%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .hero {
    .left-hero, .right-hero {
      height: 100%;
    }
    .left-hero {
      padding: 36% 12% 0 10%;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .right-hero {
      padding: 0% 6% 0% 10%;
    }
  }

}
