.mapboxgl-popup {
  max-width: 200px !important;
  color: var(--white) !important;
}

.mapboxgl-popup-content {
  text-align: center !important;
  font-family: 'Cabin', sans-serif !important;
  background: var(--green) !important;
  padding-bottom: 5px !important;
}

.icon-font {
  color: white !important;
}
